
@{
    ViewData["Title"] = "travel";
}

<h1>travel</h1>

<div class="card-columns" ></div>

<script src="~/js/travel.js"></script>
@section Scripts{
    <script>
        let htmlDatas = DATAS.map(data => {
            let { Name, Toldescribe, Add, Opentime} = data;
            return (
                `
                 <div class="card" >
                 <div class="card-body" style="width: 18rem; height:24rem">
                    <h5 class="card-title">${Name}</h5>            
                    <p class="card-text">介紹：${Toldescribe}</p>
                    <p class="card-text">地址：${Add}</p>
                    <p class="card-text">開館時間：${Opentime}</p>  
                </div>
                </div>
                `
            )
        })
        document.querySelector(".card-columns").innerHTML = htmlDatas.join("");
    </script>
}